@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte, @(User.Identity.Name ?? "uživateli😊")</h1>
    <h2 class="text-warning text-lg-center">Toto je demo verze cloudového úložiště</h2>
</div>